
<form method="POST">
               <div><label class="label">Input address: <input class = "input" type="text" name="address"></label></div>
               <button class = "button" "type="submit">Get information</button>
           </form>
           <style>
                .button{
                    background-color:blue;
                    color: white;
                    padding: 20px;
                    border-radius: 5px;
                    margin-top: 15px;
                }
                .button:hover{
                    background-color: orange;
                    color: black;
                }
                .label{
                    font-size: 50px;
                }
                .input{
                    width: 500px;
                    height: 50px;
                }
           </style>